.gridCard {
   
    transition: transform 0.6s ease;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.8;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}