.carousel-container {
  position: relative;
  overflow: hidden;
  
}

.carousel-track {
  display: flex;
}

.carousel-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #555;
  border-radius: calc(var(--outer-r) - var(--p-distance));
  overflow: hidden;
  cursor: grab;
  width: 100%;
}

.carousel-item:active {
  cursor: grabbing;
}




